<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <label for="username">Username : </label>
  <input id="username" type="text" formControlName="username" />

  <label for="password">Last Name : </label>
  <input id="password" type="password" formControlName="password" />

  <button type="submit">login</button>
</form>

<form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
  <label for="username">Username : </label>
  <input id="username" type="text" formControlName="username" />

  <label for="password">Password : </label>
  <input id="password" type="password" formControlName="password" />

  <label for="firstname">Firstname : </label>
  <input id="firstname" type="text" formControlName="firstname" />

  <label for="lastname">Lastname : </label>
  <input id="lastname" type="text" formControlName="lastname" />

  <label for="mail">Email : </label>
  <input id="mail" type="email" formControlName="mail" />

  <button type="submit">login</button>
</form>
